<!-- cette vue affiche le panier -->
<div class=" rounded bg2 m-4 p-2">
  <div class=" rounded bg-light p-2">
    <h1 class="tx3 p-2 taille">Panier</h1>
    <a href="#!home" class="btn btn-outline-dark m-2">Continuez vos achats</a>
    <!-- Contenu du panier  -->
    <div class="m-2 border border-secondary rounded hadow-sm p-3 mb-5 row">
      <p class="col-4">Produit :</p>
      <p class="col-4">Quantité :</p>
      <p class="col-4">Prix :</p>
    </div>
    <p class="m-2 p-3">Total :</p>
    <div class="d-flex flex-row-reverse">
          <a href="" class="btn btn-outline-success">Confirmez vos achats</a>
    </div>
  </div>
</div>
