<!-- la vue home présente tous les produits -->
<div ng-controller="homeController" class="bg2 p-1">
    <div class="rounded bg-light p-2">
        <!-- Contenu du home  -->
        <div class="row">
            <div ng-repeat="content in books | filter : category" class="col-6 col-md-4 col-lg-3 my-2">
                <div class="card shadow articleCard">
                    <img ng-click="gotoUrl('/product/'+$index)" class="img-responsive p-1 card-img-top" src={{content.LienPhoto}} alt="{{content.Nom}}">
                    <div class="card-body py-0">
                        <h5 class="card-title my-0 w-100" title="{{content.Nom }}"><small><b>{{content.Nom }}</b></small></h5>
                        <p class="card-text my-0" title="{{content.Auteur }}"><small><b>Auteur :</b>  {{content.Auteur}}</small></p>
                        <p class="my-0" title="{{content.Editeur }}"><small><b>Editeur :</b> {{content.Editeur}}</small></p>
                        <p class="text-right"><b>{{content.Prix | euroFormat}}</b></p>
                        <div class="float-right mb-2 ">
                            <button ng-click="ajoutPanier($index)" class="btn btn-primary"><small>Ajouter au panier</small></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
