<!-- cette vue présente le détail du produit sélectionné -->
<div class="bg2 p-2">
    <div class=" rounded bg-light p-2">
        <!--Contenu du product  -->
        <h2 class="tx3 p-2 taille text-center">Détails de l'article</h2>
        <hr class="w-75">
        <div class="mb-3" style="max-width: 1080px;">
            <div class="row no-gutters">
                <div class="col-12 offset-md-1 col-md-3">
                    <div class="card">
                        <img class="card-img p-2" src={{LienPhoto}} alt="bla">
                    </div>
                </div>
                <div class="col-12 offset-md-1 col-md-6">
                    <div class="card test">
                        <div class="card-body">
                            <p class="titre card-title font-weight-bold">{{Nom}}</p>
                            <p class="auteur card-title text-primary">de {{Auteur}}</p>
                            <hr>
                            <!-- Etoiles -->
                            <p id="rating" class="text-primary" ng-bind-html="displayStars(Rating)"></p>
                            <p class="font-weight-bold taille">{{Prix | euroFormat}} </p>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <div class="p-2">
                                <!-- Button Je continue mon shopping -->
                                <button ng-click="gotoUrl('/home/')" type="button" class="btn btn-primary" data-dismiss="modal">Continuez vos achats</button>
                            </div>
                            <div class="p-2">
                                <!-- Modal pour ajouter au panier dans la view Détails-->
                                <!-- Button trigger modal Ajouter au panier-->
                                <button ng-click="ajoutPanier(index)" type="button" class="btn btn-success">Ajouter
                                    au panier</button>
                                    <!-- Modal -->
                                    <div class="addedArticle modal fade" id="exampleModal3" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModal3Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModal3Label"><span><i
                                                    class="far fa-check-circle tx6"></i></span> Ce produit a bien été ajouté à votre panier
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card mb-4" style="max-width: 1080px;">
                                                    <div class="row no-gutters">
                                                        <div class="col-12 col-md-4">
                                                            <img class="card-img p-2" src={{LienPhoto}} alt="{{Nom}}">
                                                        </div>
                                                        <div class="col-12 col-md-8">
                                                            <div class="card-body">
                                                                <p class="modalSize card-title text-secondary "> {{Nom}}</p>
                                                                <p class="auteur card-title text-primary">de {{Auteur}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button ng-click="gotoUrl('/home/')" type="button" class="btn btn-primary" data-dismiss="modal">Continuez vos achats</button>
                                                <button ng-click="gotoUrl('/cart/')" type="button" class="btn btn-success" data-dismiss="modal">J'accède à mon panier</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 3 avantages -->
        <div class="card-deck p-2">
            <div class="card gray">
                <div class="card-body">
                    <p class="card-text"><span><i class="fas fa-truck"></i></span> Livraison gratuite<br><small>en relais colis
                        toute l'année</small></p>
                    </div>
                </div>
                <div class="card gray">
                    <div class="card-body">
                        <p class="card-text"><span><i class="fas fa-undo-alt"></i></span> Retour gratuit<br><small>vous avez 30 jours
                            pour changer d’avis</small></p>
                        </div>
                    </div>
                    <div class="card gray">
                        <div class="card-body">
                            <p class="card-text"><i class="fas fa-crown"></i> Points de fidelité<br><small>avec la carte
                                LeCoinLecture <span><i class="fas fa-id-card"></i></span></small></p>
                            </div>
                        </div>
                    </div>

                    <!-- Navtabs pour Description et Détails -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" ng-click="mytext1=true ; mytext2=false">Résumé</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="mytext1=false ; mytext2=true">Détails</a>
                        </li>
                    </ul>
                    <!-- Text Description -->
                    <div class="my-2 p-2" ng-show="mytext1" ng-init="mytext1=true">{{Description}}</div>
                    <!-- Text Détails -->
                    <div class="my-2 p-2" ng-show="mytext2" ng-init="mytext2=false">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Titre: {{Nom}}</h3>
                                <div class="card-text">
                                    <p class="font-weight-bold mb-0">Auteur: <span class="font-weight-normal">{{Auteur}} </span></p>
                                    <p class="font-weight-bold mb-0">Évaluation: <span id="rating" ng-bind-html="displayStars(Rating)"></span></p>
                                    <p class="font-weight-bold mb-0">Prix: <span class="font-weight-normal">{{Prix | euroFormat}} </span></p>
                                    <p class="font-weight-bold mb-0">Categorie: <span class="font-weight-normal">{{Categorie}} </span></p>
                                    <p class="font-weight-bold mb-0">Format: <span class="font-weight-normal">{{Format}}</span></p>
                                    <p class="font-weight-bold mb-0">Nombre de pages: <span class="font-weight-normal">{{NrPages}} pages </span></p>
                                    <p class="font-weight-bold mb-0">Code: <span class="font-weight-normal">{{Code}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
