/* codes couleur pour le background */
.bg1{
    background-color: #3B0D11
}
.bg2{
    background-color: #6A3937
}
.bg3{
    background-color: #706563
}
.bg4{
    background-color: #748386
}
.bg5{
    background-color: #9DC7C8
}
/* codes couleur pour le texte */
.tx1{
    color: #3B0D11
}
.tx2{
    color: #6A3937
}
.tx3{
    color: #706563
}
.tx4{
    color: #748386
}
.tx5{
    color: #9DC7C8
}
.taille {
  font-size: 21px;
}
.redimention {
  max-width: 230px;
  max-height:250px;
}
.btnTaille {
  font-size:12px;
  width: 120px;
  height: 34px;
}
