/* codes couleur pour le background */
.bg1{
    background-color: #3B0D11
}
.bg2{
    background-color: #6A3937
}
.bg3{
    background-color: #706563
}
.bg4{
    background-color: #748386
}
.bg5{
    background-color: #9DC7C8
}
/* codes couleur pour le texte */
.tx1{
    color: #3B0D11
}
.tx2{
    color: #6A3937
}
.tx3{
    color: #706563
}
.tx4{
    color: #748386
}
.tx5{
    color: #9DC7C8
}


/* css SEB */
.titrePrincipal{
font-family: 'Nanum Pen Script', cursive;
}
/* mise en forme de la bulle d'info au dessus du panier */
.cartLength{
    padding-right: 4px;
    padding-left: 4px;
    position: relative;
    top: -12px;
    left: -4px;
    border-radius: 20px;
    color: white;
    background-color: red;
    font-weight: bold;
    box-shadow: 4px 4px 12px #3B0D11;
}
main{
    min-height: calc(100vh - 130px);
}
/* css Andreea */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.titre {
  font-size: 20px;
}
.auteur {
  font-size: 15px;
}
.gray{
  background-color:#CDCDCD;
}
