/* codes couleur pour le background */
.bg1{
    background-color: #3B0D11
}
.bg2{
    background-color: #6A3937
}
.bg3{
    background-color: #706563
}
.bg4{
    background-color: #748386
}
.bg5{
    background-color: #9DC7C8
}
/* codes couleur pour le texte */
.tx1{
    color: #3B0D11
}
.tx2{
    color: #6A3937
}
.tx3{
    color: #706563
}
.tx4{
    color: #748386
}
.tx5{
    color: #9DC7C8
}
.tx6{
  color: #28A745
}
.tx7{
  color: #FFBB12
}

/* css SEB */
.titrePrincipal{
font-family: 'Nanum Pen Script', cursive;
}
/* mise en forme de la bulle d'info au dessus du panier */
.cartLength{
    padding-right: 4px;
    padding-left: 4px;
    position: relative;
    top: -12px;
    left: -4px;
    border-radius: 20px;
    color: white;
    background-color: red;
    font-weight: bold;
    box-shadow: 4px 4px 12px #3B0D11;
}
/* css Andreea */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.titre {
  font-size: 20px;
}
.auteur {
  font-size: 15px;
}
.modalSize {
  font-size: 15px;
  font-weight: bold;
}
.gray{
  background-color:#CDCDCD;
}
/* css Belal */
.taille {
  font-size: 21px;
}
.btnTaille {
  font-size:12px;
  width: 120px;
  height: 34px;
}
.test{
  border: none;
}
.articleCard p, .articleCard h5{
    white-space: nowrap;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}
.articleCard img{
    max-height: 200px;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.articleCard{
    transition: .2s ease-in-out;
}
.articleCard:hover{
    opacity: .8;
    transform: scale(1.02);
}
.articleCard img:hover{
    cursor: pointer;
}
